# Ejemplo de que variables definir en .env

# Activar para agregar información de depuración.
# Desactivar para remover información de depuración y aplicar optimizaciones.
# Debe ser false en producción.
DEBUG=true

# Base de datos
DB_HOST="localhost"
DB_DATABASE="sofit_gym"
DB_USERNAME="root"
DB_PASSWORD=

# Correo: Credenciales
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=
MAIL_PASSWORD=

# Correo: Remitente
MAIL_FROM_ADDRESS=sofitgympower@gmail.com
MAIL_FROM_NAME="Soporte Sofit GYM"

# Necesario para el asistente inteligente
GEMINI_API_KEY=

# Otros
TIMEZONE="America/Caracas"
