# Ejemplo de que variables definir en .env
# Copia este archivo, renombralo a .env y define las variables que seran cargadas en el sistema.

# Si esta marcado con (*) entonces son REQUERIDAS y tiene que completar sus variables.
# De lo contrario los modulos que dependan de ellas pueden fallar.

# ---

# Activar para agregar información de depuración.
# Desactivar para remover información de depuración y aplicar optimizaciones.
# Debe ser false en producción.
DEBUG=true

# Base de datos (*)
DB_HOST="localhost"
DB_DATABASE="sofit_gym"
DB_USERNAME="root"
DB_PASSWORD=""

# Ruta al binario `mysqldump`
# Necesario para respaldos de BD
DB_PATH_MYSQLDUMP="mysqldump" 

# Correo: Credenciales (*)
# Utilizado para la recuperación de contraseña
MAIL_HOST="smtp.gmail.com"
MAIL_USERNAME=
MAIL_PASSWORD=

# Correo: Remitente (*)
# Utilizado para definir la dirección del correo
MAIL_FROM_ADDRESS="sofitgympower@gmail.com"
MAIL_FROM_NAME="Soporte Sofit GYM"

# Asistente inteligente (*)
AI_API_KEY=
AI_MODEL="gemini-2.5-flash-lite"

# Otros
TIMEZONE="America/Caracas"
