# Ejemplo de que variables definir en .env

# Base de datos
DB_HOST="localhost"
DB_DATABASE="sofit_gym"
DB_USERNAME="root"
DB_PASSWORD=

# Activar para agregar información de depuración.
# Desactivar para remover información de depuración y aplicar optimizaciones.
# Debe ser false en producción.
DEBUG=true

# Otros
TIMEZONE="America/Caracas"
GEMINI_API_KEY=
